
<table border="0" cellpadding="0" cellspacing="0" style="padding:0; border-collapse:
 collapse">
  <colgroup>
    <col width="71" style="width: 53pt">
    <col width="61" span="6" style="width: 46pt">
  </colgroup>
  <tr>
    <td colspan="7" height="14" style="height: 14; color: white; font-weight: bold; text-align: center; vertical-align: middle; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid black; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px; background: #263554">
    BODY MEASUREMENTS (cm)</td>
  </tr>
  <tr>
    <td style="vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; text-align: general; white-space: nowrap; border-left: .5pt solid windowtext; border-right: medium none; border-top: medium none; border-bottom: medium none; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    &nbsp;</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    6</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    8</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    10</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    12</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    14</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    16</td>
  </tr>
  <tr>
    <td style="vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; text-align: general; white-space: nowrap; border-left: .5pt solid windowtext; border-right: medium none; border-top: medium none; border-bottom: medium none; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    &nbsp;</td>
    <td colspan="2" style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    S</td>
    <td colspan="2" style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    M</td>
    <td colspan="2" style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    L</td>
  </tr>
  <tr>
    <td style="font-size: 11.9px; font-weight: 700; text-align: left; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border: .5pt solid windowtext; padding-left: 9px; padding-right: 1px; padding-top: 1px">
    BUST</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    82-86</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    87-91</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    92-96</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    97-101</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    102-106</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    107-111</td>
  </tr>
  <tr>
    <td style="font-size: 11.9px; font-weight: 700; text-align: left; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 9px; padding-right: 1px; padding-top: 1px">
    WAIST</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    63-67</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    68-72</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    73-77</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    78-82</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    83-87</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    88-92</td>
  </tr>
  <tr>
    <td style="font-size: 11.9px; font-weight: 700; text-align: left; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 9px; padding-right: 1px; padding-top: 1px">
    HIP</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    90-94</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    95-99</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    100-104</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    105-109</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    110-114</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px" height="13">
    115-119</td>
  </tr>
  <tr height="20" style="height:15.0pt">
    <td colspan="7" style="font-style: italic; text-align: center; vertical-align: middle; white-space: normal; color: black; font-size: 11.9px; font-weight: 400; text-decoration: none; border-left: medium none; border-right: medium none; border-top: .5pt solid windowtext; border-bottom: medium none; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    <font>Please note, this guide refers to body measurements, not garment measurements.</font></td>
  </tr>
</table>