
<table border="0" cellpadding="0" cellspacing="0" width="328" style="border-collapse:
 collapse;width:248pt">
  <colgroup>
    <col width="82" style="width: 62pt">
    <col width="82" span="3" style="width: 62pt">
  </colgroup>
  <tr>
    <td colspan="4" height="31" width="248" style="height: 23.25pt; width: 248pt; color: white; font-weight: 700; text-align: center; vertical-align: middle; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid black; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px; background: #263554">
    BODY MEASUREMENTS (cm)</td>
  </tr>
  <tr>
    <td style="font-size: 11.9px; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; text-align: general; white-space: nowrap; border-left: .5pt solid windowtext; border-right: medium none; border-top: medium none; border-bottom: medium none; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    &nbsp;</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    18</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    20</td>
    <td style="font-size: 11.9px; font-weight: 700; text-align: center; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    22</td>
  </tr>
  <tr>
    <td style="font-size: 11.9px; font-weight: 700; text-align: left; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border: .5pt solid windowtext; padding-left: 9px; padding-right: 1px; padding-top: 1px">
    BUST</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    112-116</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    117-121</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    122-126</td>
  </tr>
  <tr>
    <td style="font-size: 11.9px; font-weight: 700; text-align: left; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 9px; padding-right: 1px; padding-top: 1px">
    WAIST</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    93-97</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    98-102</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    103-107</td>
  </tr>
  <tr>
    <td style="font-size: 11.9px; font-weight: 700; text-align: left; vertical-align: middle; color: black; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 9px; padding-right: 1px; padding-top: 1px">
    HIP</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    120-124</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    125-129</td>
    <td style="font-size: 11.9px; text-align: center; vertical-align: middle; color: black; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    130-134</td>
  </tr>
</table>
<p><i>Please note, this guide refers to body measurements, not garment measurements.</i></p>