
<table border="0" cellpadding="0" cellspacing="0" width="324" style="border-collapse:
 collapse;width:244pt">
  <colgroup>
    <col width="80" style="width: 60pt">
    <col width="61" span="4" style="width: 46pt">
  </colgroup>
  <tr height="20" style="height:15.0pt">
    <td height="20" width="80" style="height: 15.0pt; width: 60pt; color: white; text-align: center; vertical-align: middle; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px; background: #263554">
    SIZE</td>
    <td width="61" style="width: 46pt; color: white; text-align: center; vertical-align: middle; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px; background: #263554">
    AUS</td>
    <td width="61" style="width: 46pt; color: white; text-align: center; vertical-align: middle; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px; background: #263554">
    INTL</td>
    <td width="61" style="width: 46pt; color: white; text-align: center; vertical-align: middle; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px; background: #263554">
    BUST</td>
    <td width="61" style="width: 46pt; color: white; text-align: center; vertical-align: middle; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: .5pt solid windowtext; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px; background: #263554">
    WAIST</td>
  </tr>
  <tr height="20" style="height:15.0pt">
    <td height="20" style="height: 15.0pt; text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    1</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    6</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    XS</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    79cm</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    61cm</td>
  </tr>
  <tr height="20" style="height:15.0pt">
    <td height="20" style="height: 15.0pt; text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    2</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    8</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    S</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    84cm</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    66cm</td>
  </tr>
  <tr height="20" style="height:15.0pt">
    <td height="20" style="height: 15.0pt; text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    3</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    10</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    M</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    89cm</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    71cm</td>
  </tr>
  <tr height="20" style="height:15.0pt">
    <td height="20" style="height: 15.0pt; text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    4</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    12</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    L</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    94cm</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    76cm</td>
  </tr>
  <tr height="20" style="height:15.0pt">
    <td height="20" style="height: 15.0pt; text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: .5pt solid windowtext; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    5</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    14</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    XL</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    99cm</td>
    <td style="text-align: center; vertical-align: middle; color: black; font-size: 11.9px; font-weight: 400; font-style: normal; text-decoration: none; white-space: nowrap; border-left: medium none; border-right: .5pt solid windowtext; border-top: medium none; border-bottom: .5pt solid windowtext; padding-left: 1px; padding-right: 1px; padding-top: 1px">
    81cm</td>
  </tr>
</table>