<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

  {% if section.settings.title_enable %}
    <header class="section-header">
      <h1 class="section-header__title">{{ 'collections.general.catalog_title' | t }}</h1>
    </header>
  {% endif %}
  
  {% if template contains "list-collections" %}
    <div class="limit-content-box rte">
 	  <p data-mce-fragment="1"><span style="font-weight: 400;" data-mce-fragment="1" data-mce-style="font-weight: 400;">Shop the full <a href="/">White &amp; Co.</a> range by brand. We've sourced the best boutique labels that offer simple, everyday, fashion basics that are high-quality and forever stylish.</span></p>
      <p data-mce-fragment="1"><span style="font-weight: 400;" data-mce-fragment="1" data-mce-style="font-weight: 400;">White &amp; Co. strive to bring you quality, affordable, wardrobe essentials, and accessories to create easy and stylish outfits. Perfect for busy women, your wardrobe will be effortless thanks to brands including <a href="/collections/elm-clothing">Elm</a>, <a href="/collections/betty-basics">Betty Basics</a>, <a href="/collections/3rd-story">3rd Story</a>, <a href="/collections/leoni">Leoni</a>, <a href="/collections/italian-star">Italian Star</a>, and many more.</span></p>
      <p data-mce-fragment="1"><span style="font-weight: 400;" data-mce-fragment="1" data-mce-style="font-weight: 400;">You can trust every brand stocked at White &amp; Co. to offer wardrobe staples that will become regular features in your outfits no matter the occasion. We are always keeping an ear to the ground to find the finest boutique Australia womenswear brands. Keep an eye on our collections page by adding it to your bookmarks list and stay at the forefront of Australian fashion.</span></p>
      <p data-mce-fragment="1"><span style="font-weight: 400;" data-mce-fragment="1" data-mce-style="font-weight: 400;">From <a href="/collections/tops">tops</a> to <a href="/collections/bottoms">bottoms</a>, you'll find a range of <a href="/collections/clothing">clothing</a> pieces here. Browse the brands on offer, find your favourite collection and enhance your outfit selections with the White &amp; Co. range.</span></p>
      <p class="read-more"><button class="button" href="#">View more</button></p>
    </div>
    <br>
  {% endif %}

  {%- assign blocks = section.blocks | sort: 'collection.all_products_count' -%}

  {% case section.settings.grid %}
    {% when '1' %}
      {%- assign grid_item_width = '' -%}
    {% when '2' %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when '3' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when '4' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when '5' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  <div class="grid grid--uniform{% unless settings.collection_grid_gutter %} grid--no-gutters{% endunless %}">
    {% if section.settings.display_type == 'all' %}
      {% case section.settings.sort %}
        {% when 'products_high' or 'products_low' %}
          {%- assign collections = collections | sort: 'all_products_count' -%}
        {% when 'date' or 'date_reversed' %}
          {%- assign collections = collections | sort: 'published_at' -%}
      {% endcase %}
      {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
        {% for collection in collections %}
          {% include 'collection-grid-item' %}
        {% endfor %}
      {% else %}
        {% for collection in collections reversed %}
          {% include 'collection-grid-item' %}
        {% endfor %}
      {% endif %}
    {% else %}
      {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection] -%}
        {% include 'collection-grid-item' %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Collections list page",
    "settings": [
      {
        "type": "checkbox",
        "id": "title_enable",
        "label": "Show title",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      },
      {
        "type": "radio",
        "id": "display_type",
        "label": "Select collections to show",
        "default": "all",
        "options": [
          {
            "value": "all",
            "label": "All"
          },
          {
            "value": "selected",
            "label": "Selected"
          }
        ]
      },
      {
        "type": "select",
        "id": "sort",
        "label": "Sort collections by:",
        "info": "Sorting only applies when 'All' is selected",
        "default": "alphabetical",
        "options": [
          {
            "value": "products_high",
            "label": "Product count, high to low"
          },
          {
            "value": "products_low",
            "label": "Product count, low to high"
          },
          {
            "value": "alphabetical",
            "label": "Alphabetically, A-Z"
          },
          {
            "value": "alphabetical_reversed",
            "label": "Alphabetically, Z-A"
          },
          {
            "value": "date",
            "label": "Date, old to new"
          },
          {
            "value": "date_reversed",
            "label": "Date, new to old"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Collections per row",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
